__pycache__/
*.py[cod]
*$py.class
.venv/
.env
.DS_Store
*.pkl
*.log
.coverage
.pytest_cache/

# --- DVC & DATA ---
# Ignorer tout le contenu des sous-dossiers de data
data/**/*

# Mais garder les fichiers de tracking DVC (IMPORTANT : *.dvc avec l'étoile)
!data/**/*.dvc

# Garder les fichiers .gitignore générés par DVC
!data/**/*.gitignore

dist/
.idea/
.vscode/